<div class="row">
  <div class="large-12 columns">
    <h3 class="bold">Welcome To Portal</h3>
    <p>
      The student portal is a place for students to access Computing Club's web services. Ballot for locker here.
      Use your IVLE account to log in to the portal. Email connect@nuscomputing.com if you encounter any problems.
    </p>
    <%= link_to 'Student Login', '/auth/ivle', class: 'button round success' %>
  </div>
  <div class="large-12 columns">
    <h3 class="bold">Instructions</h3>
	  <p>
		  <ol>
			  <li>Click the login button.</li>
			  <li>Enter your IVLE account details when prompted with the IVLE login.</li>
		    <li>Authorise the application to access the account if necessary.</li>
		    <li>You will then be logged in and redirected to the portal home.</li>
		  </ol>
	  </p>
  </div>
</div>