<div id="instructions">

  <p>
    We employ a ranking system that helps us arrange the MC Members in a logical structure on the About page.
    Please read on before making any changes.
  </p>

  <ul>
    <li>
      <strong>Wing Rank</strong>
      <ul>
        <li>The Wing Rank is the relative ordering of Cells within the Wing</li>
        <li>Lower number means higher rank, starting from 0</li>
        <li>The President/VP is Rank 0 (leader of the Wing)</li>
        <li>Cells within the Wing are ranked accordingly</li>
        <li>All Members within a Cell should have the same Wing Rank</li>
      </ul>
    </li>

    <li>
      <strong>Cell Rank</strong>
      <ul>
        <li>The Cell Rank is the relative ordering of Members within the Cell</li>
        <li>Lower number means higher rank, starting from 0</li>
        <li>The Director is Rank 0 (leader of the Wing)</li>
        <li>The Deputy should follow as Rank 1</li>
        <li>No two Members within a Cell should have the same Cell Rank</li>
      </ul>
    </li>
  </ul>

  <p>
    Please clarify if you have any questions.
  </p>

</div>

<hr>