<div data-alert class="panel alert-box radius">
  <a href="#" class="close">&times;</a>
  <%= fa_icon 'exclamation-triangle 2x', class: 'warning-text' %>
  <strong class="warning-text">WARNING</strong>
  <p>
    This system is <strong>mission critical</strong>. Only the Directors in charge of lockers should operate the system.
    <br>
    If you accidentally made unintended changes, please contact the IT Director <strong>immediately</strong>.
  </p>
</div>