<% @event = Event.find_by(link: params[:link]) %>


<div class="row event-popup">

  <div class='medium-8 columns'>
    <h3 class="bold"><%= @event.name %></h3>
    <p>
      <%= simple_format @event.description %>
    </p>
    <p>
      <a href="<%= @event.externalpage %>" target="_blank"><button class="radius"><i class="fa fa-external-link"></i>&nbsp;External Link</button></a>
    </p>
  </div>

  <div class='medium-4 columns'>
    <div class="event-popup-poster">
      <%= image_tag "events/"+@event.img %>
    </div>
  </div>

  <div style="clear:both; line-height: 0;"></div>

</div>