<% @event = Event.find_by(link: params[:link]) %>
<div class="row panel">
		<div class = 'columns medium-4'>
			<%= image_tag "events/"+@event.img %>
		</div>
		
		<div class = 'columns medium-8'>
			<h1><%= @event.name %></h1>
			<p><%= @event.description %></p>
		</div>
</div>