<div class="row panel">
		<div class = 'columns medium-4'>
			<img src = 'http://lorempixel.com/1000/1414/sports/'>
		</div>
		
		<div class = 'columns medium-8'>
			<h1>Halloween</h1>
			<p>This is Halloween</p>
		</div>
</div>