<div class="row">

  <div class="columns small-12">
    <h3 class="bold">Edit Locker</h3>
    <p>
      If you need to edit a large number of lockers in sequential order, the IT Director may be able to help.
    </p>
    <p>Note: To add a new location, please contact the IT Director.</p>
  </div>

  <div class="columns small-12">
    <%= render 'form' %>
  </div>

</div>