<p>
  At the start of the academic year, the NUS Students' Computing Club offers one free locker for each Computing undergraduate, subject to availability.
  Undergraduates ballot for their locker by using the <%= link_to 'Locker Balloting System', portal_locker_locker_ballots_path %>.
  There are no charges or fees for allocated lockers.
</p>
<p>
  The locker balloting process is conducted in two rounds.
  During each round, the Locker Balloting System will be opened for undergraduates to place their ballot.
	Ballots may be updated anytime while the round is still open.
</p>
<p>
	Results of the ballot round will be released within three days after the round closes.
	Ballot participants will receive an email indicating whether their ballot is successful or not.
  Those who fail to secure a locker in the first round can still ballot for the lockers in the next round.
</p>
<p>
  See more information below or <%= link_to 'submit your ballot', portal_locker_locker_ballots_path %> now!
</p>