<div class="small-12 columns">
  <h3 class="bold">Contact Us</h3>
  <p>
    For any enquiries, please contact us at <%= mail_to 'connect@nuscomputing.com' %>.
    We will be glad to assist you.
  </p>
</div>