<div class="small-12 columns">
  <h3 class="bold">More Details</h3>
  <div>
    <p>
      Additional details and frequently asked questions about the locker balloting system. If you still have unanswered queries, please get in touch with us.
    </p>

    <ol>
      <li><strong>What is the balloting algorithm like?</strong></li>
      <p>
        First we write each application on a slip of paper. Then we throw the slips of paper all in a large fish bowl and mix
        it good. Next we just pick a slip at random and assign the applicant a locker based on his or her location preference.
        We then discard the slip and repeat the previous step until there are no more slips in the fish bowl.
        <br />
        Well of course this is not exactly how we do it but the idea is the same. :)
      </p>

      <li><strong>Why are there some lockers that we cannot ballot for?</strong></li>
      <p>
        We are only able to offer lockers in the stated locations for balloting.
        There are various reasons why the other locations are not available.
        Please contact us if you have further concerns.
      </p>
    </ol>
  </div>
</div>