<div class="small-12 columns" id="locations">
  <h3 class="bold">Locker Locations</h3>
  <p>
  <div class=" row">
    <div class="columns small-12 medium-3">
      <h5 class="bold">COM 1 Basement</h5>
      <ul>
        <li>Location A</li>
        <li>Location B</li>
        <li>Location C</li>
        <li>Location D</li>
      </ul>
    </div>
    <div class="columns small-12 medium-9">
      <%= link_to image_tag('locker/lockers-b.png'), image_path('locker/lockers-b.png'), class: 'th radius' %>
    </div>
  </div>
  </p>

  <p>
  <div class=" row">
    <div class="columns small-12 medium-3">
      <h5 class="bold">COM 1 Level 1</h5>
      <ul>
        <li>Location E</li>
        <li>Location F</li>
      </ul>
    </div>
    <div class="columns small-12 medium-9">
      <%= link_to image_tag('locker/lockers-1.png'), image_path('locker/lockers-1.png'), class: 'th radius' %>
    </div>
  </div>
  </p>

  <p>
  <div class=" row">
    <div class="columns small-12 medium-3">
      <h5 class="bold">COM 1 Level 2</h5>
      <ul>
        <li>Location G</li>
        <li>Location H</li>
      </ul>
    </div>
    <div class="columns small-12 medium-9">
      <%= link_to image_tag('locker/lockers-2.jpg'), image_path('locker/lockers-2.jpg'), class: 'th radius' %>
    </div>
  </div>
  </p>
</div>