<div class="small-12 columns">
  <h3 class="bold">Balloting Schedule</h3>
  <p>For the <strong>Academic Year 2016/2017</strong>, the system will be open for balloting during these times.</p>
  <table width="100%">
    <tr>
      <th>Round 1</th>
      <td>17th August to 19th August 2016</td>
    </tr>
    <tr>
      <th>Round 2</th>
      <td>22th August - 24nd August 2016</td>
    </tr>
  </table>
</div>