<div class="small-12 columns">
  <h3 class="bold">Terms and Conditions</h3>
  <div>
    <ol>
      <strong><li>Eligibility</li></strong>
      <ol type='a'>
        <li>Only undergraduates of NUS School of Computing are eligible for the application and usage of lockers.</li>
      </ol>

      <strong><li>Application &amp; Allocation</li></strong>
      <ol type='a'>
        <li>All applications for the usage of lockers are to be made to the Computing Club, c/o SoC, who will make the allocation.</li>
        <li>Allocations once made are final.</li>
        <li>Successful applicants will be assumed a usage period till 31st May 2017.</li>
        <li>Lockers allocated are non-transferable. The Computing Club reserves the right to withdraw the locker from the owner if such practice is discovered.</li>
        <li>Each applicant will only be allowed to apply for only one locker per academic year. Members found applying for more than one locker are liable to have all their applications void.</li>
        <li>Successful applicants have to use their own locks to lock their locker.</li>
        <li>Undergraduates who missed the locker balloting period and who still wishes to get a locker for use may email the Computing Club Logistics Committee.</li>
      </ol>

      <strong><li>Use of Lockers</li></strong>
      <ol type='a'>
        <li>The locker owner will be held responsible for any damage done to his/her locker & will have to pay for the cost of repairs and other necessary replacement, unless otherwise stated.</li>
        <li>The new locker owner is required to report any damages found on the new locker within the day after receiving the authorization of locker usage. If a locker is found damaged after that day, the locker owner is liable to pay for the repairs.</li>
      </ol>

      <strong><li>Return of Lockers</li></strong>
      <ol type='a'>
        <li>After the termination date (31st May) for the rental of lockers, affected locker owners are expected to remove their belongings and padlock by that date.</li>
        <li>The Computing Club Welfare Committee reserves the right to remove the belongings and the padlock after the aforementioned date.</li>
        <li>The belongings will be kept for 30 days and any affected locker users may approach the Computing Club Welfare Committee via email to claim their items with an administrative fee of $10.</li>
        <li>Any items not claimed after 30 days (30th June) will be disposed and the Computing Club is not liable for any loss of items.</li>
      </ol>

      <strong><li>Valuables</li></strong>
      <ol type='a'>
        <li>All locker owners are advised not to keep their valuables in the lockers.</li>
        <li>All locker owners are advised to keep a padlock on their locker to ensure the security of their items.</li>
      </ol>

      <strong><li>Disclaimer</li></strong>
      <ol type='a'>
        <li>The Computing Club will not be liable to any loss of properties kept in the lockers. The Computing Club reserves the right to alter the rules and regulations when deemed necessary and the decisions of Computing Club are final.</li>
      </ol>

      <strong><li>Terms & Conditions</li></strong>
      <ol type='a'>
        <li>All successful applicants are to read and agree to be bound and abide by the Rules and Regulations as stated herein. The act of acceptance for the lockers will also mean that the successful applicants have understood and accepted this Agreement.</li>
        <li>The Computing Club reserves the right to announce any termination date to any locker owner at any time and the locker owner/s must remove their padlock and belongings before that date.</li>
        <li>All items and padlocks left on or inside the lockers after the 30 days past the expiry of the lockers will be deemed property of the Computing Club.</li>
        <li>Failure to observe any of the above rules may result in the termination of rental and contents (items inside) will be confiscated. Confiscated items are non-returnable and they shall be deemed property of the Computing Club.</li>
        <li>Please take note that the loan of abovementioned locker is valid only for an academic year, until 31st May 2017. The management reserves the right to clear all lockers still in use after this date, and items found still within the lockers will be disposed of.</li>
        <li>All locker users are required to ballot or inform the Computing Club Welfare Committee via email to acquire a locker for use.</li>
        <li>Any illegal users found using lockers will have their belongings removed and kept by the Computing Club for a span of one week, after which disposed of.</li>
        <li>A $10 administrative fee will be imposed, should the illegal user wish to claim his/her belongings within this one week period.</li>
      </ol>
    </ol>
  </div>
</div>