<div class="row popup-box">

  <div class='medium-8 columns'>
    <div class="popup-column">
      <h3 class="bold"><%= @sponsor.name %></h3>
      <p>
        <%= @sponsor.description %>
      </p>
      <p>
        <a href="<%= @sponsor.website %>" target="_blank"><button class="radius"><i class="fa fa-external-link"></i>&nbsp;Sponsor Page</button></a>
      </p>
    </div>
  </div>

  <div class='medium-4 columns'>
    <div class="popup-column">
      <%= link_to image_tag(@sponsor.img), image_path(@sponsor.img), class: 'th radius', target: '_blank' %>
    </div>
  </div>

  <div style="clear:both; line-height: 0;"></div>

</div>