// Place all the styles related to the mc/locker/lockers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.warning-text {
  color: #f08a24;
  font-size: large;
}