<div class="row">

  <div class="large-12 columns">
    <h3 class="bold">Welcome</h3>
    <p>
      The MC console is a place for MC members to administer Computing Club's web services. Only MC members are allowed
	    access to the console. Contact the IT Director if you encounter any problems.
    </p>
    <%= link_to 'MC Member Login', '/auth/google_oauth2', class: 'button round success' %>
  </div>

  <div class="large-12 columns">
    <h3 class="bold">Instructions</h3>
	  <p>
		  <ol>
			  <li>Click the login button.</li>
			  <li>Enter your nuscomputing email account details when prompted with the Google login.</li>
		    <li>Authorise the application to access the account.</li>
		    <li>You will then be logged in and redirected to the console home.</li>
		  </ol>
	  </p>
  </div>

</div>