<div class="medium-4 columns end">
  <a href="<%= "events/"+event.link %>">
    <div class="panel radius event-box">
      <div data-equalizer-watch>
        <%= image_tag event.img %>
      </div>
      <hr>
      <h6 class="bold"><%= event.name %></h6>
    </div>
  </a>
</div>