<div class="event-columns medium-4 columns">
  <a href="<%= "events/"+event.link %>">
    <div class="panel radius event-box">
      <%= image_tag "events/"+event.img %>
      <hr>
      <h6 class="bold"><%= event.name %></h6>
    </div>
  </a>
</div>