<div class="row">
  <div class="medium-12 large-12 columns">
    <h3>About Us</h3>
    <p>This is about us.</p>
  </div>
</div>

<div class="row">
  <div class="medium-12 large-12 columns">
    <h3>18th MC</h3>
  </div>
  
  <% @members = McMember.all %>
  <% @members.each_slice(4) do |member_row_slice| %>
    <div class="row">
      <% member_row_slice.each do |mc_member| %>
        <div class="medium-3 large-3 columns end">
          <a class="ajax-popup" href="/templates/about/<%= mc_member.name %>">
            <center>
              <div class="thumbnail">
                <%= image_tag "about/"+mc_member.casualimg %>
              </div>
              <%= mc_member.name %><br>
              <%= mc_member.position %>
            </center>
          </a>
          <br><br>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
