<div class="row">
  <div class="medium-12 large-12 columns">
    <h3>About Us</h3>
    <p>This is about us.</p>
  </div>
</div>

<div class="row">
  <div class="medium-12 large-12 columns">
    <h3>18th MC</h3>
  </div>
  
  <% @members = McMember.all %>
  <% @members.each do |mcmem| %>
    <div class="medium-3 large-3 columns">
      <a class="ajax-popup" href="/templates/about/<%= mcmem.name %>">
        <%= image_tag "about/"+mcmem.casualimg %>
        <p><%= mcmem.name %><br>
        <%= mcmem.position %></p>
      </a>
    </div>
  <% end %>
</div>
