<div class="row">
	<div class="large-12 columns">
		<h3 class="bold">Locate Us</h3>
		<iframe class="connect-map"	src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7991969202308!2d103.77174311447668!3d1.2950415621105151!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1af8c1ea1917%3A0xe4eaa27565152bcf!2sSchool+of+Computing%2C+13+Computing+Dr%2C+National+University+of+Singapore+School+of+Computing%2C+Singapore+117417!5e0!3m2!1sen!2ssg!4v1449569970510" allowfullscreen></iframe>
	</div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">

  <div class="large-4 medium-5 columns">
  	<h3 class="bold">Contact Us</h3>
  	<ul class="vcard connect-info">
  		<li><i class="fa fa-home">&nbsp;</i>13 Computing Drive, Computing 1, #02-14, Singapore 117417</li>
  		<li><i class="fa fa-phone">&nbsp;</i>+65 6516 6759</li>
  		<li><i class="fa fa-envelope-o">&nbsp;</i>connect@nuscomputing.com</li>
  	</ul>
  </div>

  <div class="large-8 medium-7 columns">
  	<div class="row">
  		<div class="large-12 columns">
  			<h3 class="bold">Enquiries</h3>
  			<%= render 'form' %>
  		</div>
  	</div>
  </div>

</div>