<div class="row row_div">

	<div class = 'columns small-12'>
		<h2 class = 'events_h2'>Upcoming Events</h2>

		<p class = 'events_p'>Lorem Ipsum</p>
	</div>
		
	<a class="popup-link" href="/"><div class="medium-4 columns events_col">
		<div class = 'panel'><img src = 'http://lorempixel.com/1000/1414/sports/'>
		<h3 class = 'events_h3'>Sports Camp</h3></div></a>
	</div>
	<a class="popup-link" href="/"><div class="medium-4 columns events_col"><div class = 'panel'><img src = 'http://lorempixel.com/1000/1414/sports/'>
		<h3 class = 'events_h3'>Sports Camp</h3></div></a>	
	</div>
	<a class="popup-link" href="/"><div class="medium-4 columns events_col"><div class = 'panel'><img src = 'http://lorempixel.com/1000/1414/sports/'>		
		<h3 class = 'events_h3'>Sports Camp</h3></div></a>	
	</div>
</div>


<div class="row row_div">	
	<a class="popup-link" href="/"><div class="medium-4 columns events_col"><div class = 'panel'><img src = 'http://lorempixel.com/1000/1414/sports/'>
		<h3 class = 'events_h3'>Sports Camp</h3></div></a>
	</div>
	<a class="popup-link" href="/"><div class="medium-4 columns events_col"><div class = 'panel'><img src = 'http://lorempixel.com/1000/1414/sports/'>
		<h3 class = 'events_h3'>Sports Camp</h3></div></a>	
	</div>
	<a class="popup-link" href="/"><div class="medium-4 columns events_col"><div class = 'panel'><img src = 'http://lorempixel.com/1000/1414/sports/'>		
		<h3 class = 'events_h3'>Sports Camp</h3></div></a>	
	</div>
</div>



<div class="row row_div">	
	<a class="popup-link example" href="/"><div class="medium-4 columns events_col"><div class = 'panel'><img src = 'http://lorempixel.com/1000/1414/sports/'>
		<h3 class = 'events_h3'>Sports Camp</h3></div></a>	
	</div>
	<a class="popup-link" href="/"><div class="medium-4 columns events_col"><div class = 'panel'><img src = 'http://lorempixel.com/1000/1414/sports/'>
		<h3 class = 'events_h3'>Sports Camp</h3></div></a>
		
	</div>
	<a class="popup-link" href="/"><div class="medium-4 columns events_col"><div class = 'panel'><img src = 'http://lorempixel.com/1000/1414/sports/'>		
		<h3 class = 'events_h3'>Sports Camp</h3></div></a>	
	</div>
</div>


<script>
	$(document).ready(function() {
		$('.popup-link').magnificPopup({
			type: 'ajax',
			alignTop: true,
			overflowY: 'scroll'
		});
	});
	
</script>