<section class="main-carousel">
  <div class="row">
    <div class="small-12 columns">
      <div id="owl-home" class="owl-carousel owl-theme">

        <div class="item"><%= image_tag "home/1.jpg"  %></div>
        <div class="item"><%= image_tag "home/2.jpg" %></div>
      </div>
    </div>
  </div>
</section>

<div class="row">
  <div class="small-12 columns">
    <hr>
  </div>
</div>

<section class="events-section">
  <div  class="row">
    <div class="small-12 columns">
      <h3 class="bold">Upcoming Events</h3>
    </div>
    <div class="small-4 columns upcoming-header-bar end">
    </div>
  </div>

  <div class="row">
    <%# loop through the upcoming (at most 3) events and create the partial for each. %>
    <% count = 0 %>
    <% @events.each do |event| %>
    	<% if event.featured && count < 3 %>
        <%= render partial: "event", locals: {event: event} %>
        <% count += 1 %>
      <% end %>
    <% end %>
    <script>
    	// add "end" class to the last event partial to smoothen layout
    	$(".event-columns:last").addClass("end");
    </script>
  </div>

  <div class="row">
    <%# button to see more %>
    <div class="small-12 columns text-center">
      <a href="events" class="button radius">
        See All Events
      </a>
    </div>
  </div>
</section>