<div class="row row_div">

	<div class = 'columns small-12'>
		<h3 class = 'bold'>Our Sponsors</h3>

		<p>Lorem Ipsum</p>
	</div>

</div>

<div class="row">
	<hr>
</div>

<div class="row white">
	<% @sponsors.each_with_index do |sponsor, index| %>
		<% # create row for each 4 sponsors %>
		<% if index % 4 == 0 %>
			<div class="row">
		<% end %>
				<div class="medium-3 columns sponsors_col">
					<%= link_to image_tag("sponsors/"+sponsor.img), sponsor.link, target: "_blank" %>
				</div>
		<% # close tag for last sponsor of the row %>
		<% if index % 4 == 3 || sponsor == @sponsors.last %>
			</div>
		<% end %>
	<% end %>
	<script>
		// add "end" class to the last sponsors panel to smoothen layout
		$(".sponsors_col:last").addClass("end");
	</script>
</div>