<div class="row white">
  <div class="medium-12 large-12 columns">
    <h3 class="bold">Our Sponsors</h3>
    <p>
      We would like to thank our sponsors for supporting our events and believing in us throughout the years. We hope to continue this beneficial working relationship with our sponsors and hope to forge more relationships with organisations that may want to support us as well.
    </p>
    <p>
      Please contact us at <a href="mailto:connect@nuscomputing.com">connect@nuscomputing.com</a> if you would like to be a supporter for our future events!
    </p>
  </div>
</div>

<div class="row white">
  <div class="small-12 medium-12 large-12 columns">
    <ul class="small-block-grid-2 medium-block-grid-4">
      <% @sponsors.each do |sponsor| %>
        <li>
          <span data-tooltip
                aria-haspopup="true"
                data-options="disable_for_touch:true"
                class="has-tip tip-right radius"
                title="<%= "<strong>#{sponsor.name}</strong><br>#{sponsor.description.empty? ? 'No description available' : "#{sponsor.description}"}"%>",
                style='border-bottom: initial;'>
            <%= link_to image_tag(sponsor.img), url_for(sponsor.website), target: "_blank" %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
</div>