<div class="row">
  <div class="medium-12 large-12 columns">
    <h3 class="bold">Academic Information</h3>
    <p>
      Visit <%= link_to "the school's website", "http://www.comp.nus.edu.sg/", target: "_blank" %> for more information about official school events and more course information.
    </p>
    <p>
      Visit <%= link_to "Collate", "http://www.comp.nus.edu.sg/~kohzk/", target: "_blank" %> for a compilation of academic information (and more).
    </p>
    <p>
      Email acad[at]nuscomputing[dot]com if you have any questions regarding academics!
    </p>
  </div>
</div>

<div class="row">
  <div class="medium-12 large-12 columns">
    <h3 class="bold">Student Services</h3>
    <h4 class="italics">Lockers</h4>
    <p>
      Students are entitled to one locker allocation, free of charge, every year. Email logistics[at]nuscomputing[dot]com to request for your free locker allocation if you have not already gotten one yet!
    </p>

    <h4 class="italics">Board Games</h4>
    <p>
      Board games can be loaned from us as well! We have Avalon, Monopoly, Twister and many more. Shoot an email to logistics[at]nuscomputing[dot]com or come down to <%= link_to "our clubroom", "/connect" %> to view our collection!
    </p>

    <h4 class="italics">Miscellaneous Items</h4>
    <p>
      We have extension sockets and LCD monitors that are up for loan. If you ever need any of these, drop logistics[at]nuscomputing[dot]com an email with your request, or simply visit <%= link_to "our clubroom", "/connect" %> to take a look!
    </p>
  </div>
</div>