# =========================================================================
# THIS IS AN EXAMPLE OF WHAT THE SECRET FILE SHOULD LOOK LIKE
#
# 1. Before you start developing, create another file called 'secrets.yml'
#
# 2. Fill up that file with the same contents as this file
#
# 3. Fill in the missing information
#
# 4. Access these information in code with Rails.application.secrets.<attribute name>
#
# =========================================================================
#
# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Other secret keys and passwords go here, including Google or IVLE logins

development:
  secret_key_base: # copy the output of 'rake secret'
  mailer_username: # username of the account to send mail as
  mailer_password: # password of the account to send mail as

test:
  secret_key_base: # copy the output of 'rake secret'

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: # copy the output of 'rake secret'
  mailer_username: # username of the account to send mail as
  mailer_password: # password of the account to send mail as

