<div class="">
    <div class="text-center">
        <h1 class="">Computing Club Recruitment Drive</h1>
        <%= link_to image_tag("recruitment-poster.jpg"), "http://tiny.cc/soc18thMC" %>
    </div>
    <hr>
    <div class="row">
        <h2 class="text-center">List of Committees</h2>
        <div class="small-12 large-12 small-centered columns" style="text-align: center;">
            <ul class="side-nav">
                <li><h5><a href="#welfare">Welfare</a></h5></li>
                <li><h5><a href="#marketing">Marketing</a></h5></li>
                <li><h5><a href="#fop">FOP</a></h5></li>
                <li><h5><a href="#sports">Sports</a></h5></li>
                <li><h5><a href="#ar">Alumni Relations</a></h5></li>
                <li><h5><a href="#acad">Academic Liaison</a></h5></li>
                <li><h5><a href="#srs">Student Relations</a></h5></li>
                <li><h5><a href="#log">Logistics</a></h5></li>
                <li><h5><a href="#it">IT Cell</a></h5></li>
                <li><h5><a href="#pub">Publicity</a></h5></li>
            </ul>
        </div>
    </div>
    <hr>
    <div id="welfare" class="row">
        <div class="panel radius">
            <h3>Welfare</h3>
            <p>
            The job requirements for Welfare sub-committee are:
            <ol>
                <li>Organizing fun-filled events</li>
                <li>Coming up with initiatives that will bring joy to SoC students!</li>
                <li>Enjoy the company of like-minded people, people who care for Welfare!</li>
                <li>Impacting lives of SoC students positively in big and small ways</li>
            </ol>
            </p>
            <a href="http://tiny.cc/soc18thMC" class="button round small">Join us now!</a>
        </div>
    </div>
    <div id="marketing" class="row">
        <div class="panel clearfix radius">
            <h3>Marketing</h3>
            <p>
            <u>Handling Sponsors:</u>
            <ol>
                <li>Handling of sponsorships</li>
                <li>Understanding the needs of other committees and sourcing for the appropriate sponsorships</li>
                <li>Establish a long term collaborative relationship with sponsors</li>
                <li>Increase the number of sponsors</li>
            </ol>
            </p>
            <p>
            <u>Starting Initiatives:</u>
            <ol>
                <li>Coming up with initatives e.g. Valentine's Day: LoveBytes</li>
                <li>Being in charge of a merchandise sale/project</li>
            </ol>
            </p>
            <p>
            <u>Organising the Bazaar:</u>
            <ol>
                <li>Liaising with vendors</li>
                <li>Renting of logistics</li>
                <li>Sourcing for vendors</li>
            </ol>
            </p>
            <a href="http://tiny.cc/soc18thMC" class="button round small">Join us now!</a>
        </div>
    </div>
    <div id="fop" class="row">
        <div class="panel clearfix radius">
            <h3>Freshmen Orientation Projects</h3>
            <p>
            Make your summer holidays more enriching and exciting by joining Freshmen Orientation Projects (FOP)! You can choose from any of the 5 projects available: Freshmen Social Camp (FSC), Freshmen Orientation Week (FOW), Receive And Give (RAG), FLAG, and BASH!
            </p>
            <p>
            FSC and FOW are camps organised to welcome freshmen into the SoC Family. Freshmen can interact and bond with seniors and fellow course mates while getting familiarised with the school compound. Be part of the team to create an extraordinary FOP experience for the next batch of freshmen!
            </p>
            <p>
            RAG is an annual performance put up by the different faculties of the school to show appreciation for our school's partners who have supported the school over the years. Join the engineers to build a majestic float for SoC or the dancers to mesmerise the audience with a spectacular performance!
            </p>
            <p>
            FLAG is our way of contributing back to society. Join the team to organise an engagement session with our beneficiaries and coordinate FLAG day for NUSSU!
            </p>
            <p>
            BASH concludes the FOP experience with a night of fun-filled experience! Join the team to crown the next Mr and Ms SOC!
            </p>
            <a href="http://tiny.cc/soc18thMC" class="button round small">Join us now!</a>
        </div>
    </div>
    <div id="sports" class="row">
        <div class="panel clearfix radius">
            <h3>Sports</h3>
            <p>
            Come join in the sports cell, where you will be planning for events like sports camp and IFG coordination! We are also looking for people who have medic certifications, people who are interested in the designing posters and creating AV material, and also passionate people who wish to coordinate for casual games!
            </p>
            <p>
            We aim to spread the culture of sports throughout the whole community, so do join us if you share this passion with us too! All are welcome!
            </p>
            <a href="http://tiny.cc/soc18thMC" class="button round small">Join us now!</a>
        </div>
    </div>
    <div id="ar" class="row">
        <div class="panel clearfix radius">
            <h3>Alumni Relations</h3>
            <p>
            AR cell members would be expected to contribute towards the AR events throughout the working year, through helping out in marketing, publicity, or finance.
            </p>
            <p>
            A keystone event that AR cell is in charge of is Grad Night, which is mainly targeted at graduating seniors. We aim to create the most fulfilling experience for them, and we need people like you, who enjoy planning meaningful events and want to give back to SoC at the same time!
            </p>
            <p>
            Further details regarding the jobscopes above will be communicated to you in a chit chat session :)
            </p>
            <p>
            Overall, the AR cell is looking for enthusiastic individuals who can work well in both a team, and are not afraid to speak out and have their voices heard! Thank you :)
            </p>
            <p>
            Do feel free to contact Jia Lin if you have any questions to ask! Thank you! :)
            </p>
            <a href="http://tiny.cc/soc18thMC" class="button round small">Join us now!</a>
        </div>
    </div>
    <div id="acad" class="row">
        <div class="panel clearfix radius">
            <h3>Academic Liaison</h3>
            <p>
            Want to contribute to the SoC community? Want to provide academic support and propose change in the academic structure? Want to implement new avenues for your fellow SoC peers to improve academically? Join the Acad cell! Here, you can come up with initiatives to improve the academic aspect of SoC and have the chance to interact and liaise with professors, alumnus, seniors and many more! The best way to learn is to teach. In Acad cell, we also provide opportunities for you to hold workshops and seminars for your peers. So... what are you waiting for? Join us! We serve to inspire.
            </p>
            <a href="http://tiny.cc/soc18thMC" class="button round small">Join us now!</a>
        </div>
    </div>
    <div id="srs" class="row">
        <div class="panel clearfix radius">
            <h3>Student Relations Secretary</h3>
            <p>
            Join our journey to uncover the hidden voices and secret desires of School of Computing. As a member of the Students Relations Committee, we get to represent SoC students directly in the Management Committee (MC), convey our collective ideas to the MC and push for real changes! Work towards less intimidating feedback collection methods and explore new ways of hearing the people. No background is required! As a pioneer group of members, we get to shape the future of Students Relations Committee. Everyone gets an equal say in Students Relations. Be a Students Relations Ambassador; engage and represent the community today!
            </p>
            <a href="http://tiny.cc/soc18thMC" class="button round small">Join us now!</a>
        </div>
    </div>
    <div id="log" class="row">
        <div class="panel clearfix radius">
            <h3>Logistics</h3>
            <p>
            Ever wanted a makeover for the SoC Student Lounge? Fret not! Because you have the chance to be part of this awesome project: Lounge Revamp!
            </p>
            <p>
            Besides the lounge renovation, these are the job scopes for the Logistics Subcommittee:
            <ul>
                <li>Updating equipment database for the storeroom/clubroom</li>
                <li>Loaning of equipment</li>
                <li>Keeping our Lounge/Storeroom clean and organized </li>
                <li>Have fun!!!</li>
            </ul>
            </p>
            <p>
            Intending to join the Program & Logistics team for any projects (Eg FSC/FOW)? We highly recommend for you to join the Logistics Subcommittee for experience! We're friendly, so don't be shy and join the fun train!
            </p>
            <a href="http://tiny.cc/soc18thMC" class="button round small">Join us now!</a>
        </div>
    </div>
    <div id="it" class="row">
        <div class="panel clearfix radius">
            <h3>IT Cell</h3>
            <p>
            <u>Core Team:</u><br>
            Our core team comprises of the two Directors, the Webmaster and the Sysadmin. The team works closely to ensure that our IT services are at full uptime. We also plan for the long term future to meet the IT needs of the Computing Club as a whole.
            </p>
            <p>
            Responsibilities:
            <ul>
                <li>Webmaster - Responsible for maintaining Computing Club websites and web services. Also responsible for any data analytics for the web services.</li>
                <li>Sysadmin - Responsible for maintaining our internal Computing Club server blade and ensuring that the server is up and running 24/7.</li>
            </ul>
            </p>
            <p>
            <u>Projects Team:</u><br>
            This is a team of talented people working on ad-hoc projects that the IT Cell offers. Roles such as UI designer, web programmer, etc are available based on project requirements.
            </p>
            <p>
            Responsibilities:
            <ul>
                <li>UI designer - To design the website for that particular project.</li>
                <li>Web programmer - To code the website</li>
                <li>Backend programmer: To code the backend.</li>
            </ul>
            </p>
            <a href="http://tiny.cc/soc18thMC" class="button round small">Join us now!</a>
        </div>
    </div>
    <div id="pub" class="row">
        <div class="panel clearfix radius">
            <h3>Publicity</h3>
            <p>
            Are you interested to be a designer, photographer or videographer? PUBLICITY WANTS YOU.
            </p>
            <p>
            The roles of publicity include:
            <ul>
                <li>coming up with posters for events</li>
                <li>providing photo and video coverage for events</li>
                <li>updating social media platforms</li>
                <li>keeping noticeboards up to date</li>
            </ul>
            </p>
            <p>
            No experience is needed, we welcome you to join us regardless if you are experienced or interested to learn more about publicity! Sign up now to be part of the NUS Computing Club and improve the outreach of events, or to meet peers with similar interests now!
            </p>
            <a href="http://tiny.cc/soc18thMC" class="button round small">Join us now!</a>
        </div>
    </div>
</div>
