<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

  <style type="text/css">
	  .wrapper {
		  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	  }

	  table, th, td {
		  border: 1px solid #dddddd
	  }

	  td {
		  padding: 15px;
	  }

	  .attr-name {
		  font-weight: bold;
	  }

	  .footer {
		  border-top: 1px solid #dddddd;
		  padding-top: 8px;
		  font-size: 12px;
		  font-style: italic;
	  }
  </style>

</head>

<body>
<div class="wrapper">

  <p>
    Allocation for <%= @round.name %> is complete. Please log in to the system to verify the allocations. Contact the IT Director if there are any issues.
  </p>

  <div class="footer">
    <a href="nuscomputing.com">NUS Computing</a>
  </div>

</div>
</body>
</html>