<div class="columns small-12" id="guidelines">
  <div class="panel">
    <h3 class="bold">Locker Usage Guidelines</h3>
    <ol>
      <li>Lockers located in the School of Computing are to be utilised only by Undergraduates of School of Computing.</li>
      <li>Lockers may only be utilised if they have been allocated to the Undergraduate through the Locker Balloting System.</li>
      <li>Undergraduates may request to be allocated a locker even after the balloting dates are over, by sending an email to NUS Computing Club, Logistics Cell.</li>
      <li>Undergraduates are highly advised to place a lock on their allocated locker to prevent any illegal usage by other people and to safekeep their belongings.</li>
      <li>Any illegal users found using lockers will have their belongings removed and kept by the Computing Club for a span of one week, after which disposed of.</li>
      <li>A $10 administrative fee will be imposed, should the illegal user wish to claim his/her belongings within this one week period.</li>
      <li>After the termination date (31st May) for the rental of lockers, affected locker owners are expected to remove their belongings and padlock by that date.</li>
      <li>The belongings will be kept for 30 days and any affected locker users may approach the Computing Club Logistics Cell via email to claim their items with an administrative fee of $10.</li>
      <li>Any items not claimed after 30 days (30th June) will be disposed and the Computing Club is not liable for any loss of items</li>
      <li>Illegal locker users will be charged $10 for one locker and $20 for two and above.</li>
    </ol>
    <p>
      <strong>If you have any queries, please contact NUS Students' Computing Club at <%= mail_to 'connect@nuscomputing.com', 'connect@nuscomputing.com', subject: 'Locker Balloting Enquiry' %></strong>
    </p>
  </div>
</div>