Requests made by you:
<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
	<% item_requests.order(:status, :created_at).each do |request| %>
		<li>
			<div class="panel row">
				<div><%= render request.item %></div>
				<div><%= request.status.capitalize %></div>
				<div><%= local_time request.created_at %></div>
			</div>
		</li>
	<% end %>
</ul>
