<p>Thank you for requesting item from NUS Computing Club. Please show the following QRCode to a member of NUS Computing Club and collect your item</p>
<div style="text-align:center;"><%= image_tag attachments['qrcode.png'].url %></div>
