// connect.scss
// CSS for Connect Page

.required-asterisk {
	color: red;
}

.connect-info {
	font-family: Lato;
}

.connect-h1, .connect-h3 {
	color: #b27d31;
	font-family: Lato;
}

.connect-map {
	width: 100%;
	height: 200px; 
	border: 0;
} 