.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 85%;
  height: 85%;
}

.event-popup {
  position: relative;
  background: white;
}

.event-popup-text {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.event-popup-poster {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}