// FOOTER CSS
// Place footer CSS here

footer {
  background-color: rgb(1, 22, 64);
  color: ghostwhite;
  padding: 10pt;
  text-align: center;
}

/* Unordered list in foot class */
footer ul {
  list-style-type: none;
}
/* List items in foot class */
footer li {
  display: inline;
}

