// FOOTER CSS
// Place footer CSS here

footer {
  background-color: #011640;
  color: ghostwhite;
  text-align: center;
  border-top: 5px solid #db5123;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
}

/* Unordered list in foot class */
footer ul {
  list-style-type: none;
  margin: 16px 0;
}
/* List items in foot class */
footer li {
  display: inline;
}

.footer-container {
  padding-top: 1%;
  padding-bottom: 1%
}

.copyright {
  padding-top: 2%;
}
