// PUT GLOBAL CSS HERE
// e.g. footer sticking to bottom

// ensure footer sticks to bottom of page
.container {
  display: table;
  height: 100%;
  width: 100%;
  table-layout: fixed;
}

.asd {
  display: table-row;
  height: 100%;
}
