// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*@import 'foundation_and_overrides';*/
/*@import 'foundation/components/grid';*/

.bold {
  font-weight: bold;
}

/* unnecessary */
.home_col {
	margin-left: 0px;
	padding-left: 0px;
}

.home_h2 {
	font-size: 24px;
    font-weight: 600;
	margin-top: 15px;
}

.home_h3 {
	font-size: 18px;
    font-weight: 600;
	margin-top: 10px;
	margin-bottom: 5px;
}

.home_col img {
	border: 1px solid #DDD;
	padding: 3px;
}

#owl-demo .item img{
    display: block;
	margin-left: auto;
	margin-right: auto;
}


@media (min-width: 960px){


}


@media (min-width: 768px) and (max-width: 959px) {
	.row_div {
		padding-left: 15px;
		padding-right: 15px;	
	}
	
	.home_col {
		padding-right: 0px;
	}
}

@media (max-width: 767px) {
	.row_div {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.home_col {
		padding-right: 0px;
	}
}

@media (max-width: 480px) {
	.row_div {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.home_col {
		padding-right: 0px;
	}
}


