// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*@import 'foundation_and_overrides';*/
/*@import 'foundation/components/grid';*/

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

@media (min-width: 960px){


}


@media (min-width: 768px) and (max-width: 959px) {
	.row_div {
		padding-left: 15px;
		padding-right: 15px;	
	}
	
	.home_col {
		padding-right: 0px;
	}
}

@media (max-width: 767px) {
	.row_div {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.home_col {
		padding-right: 0px;
	}
}

@media (max-width: 480px) {
	.row_div {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.home_col {
		padding-right: 0px;
	}
}



