// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'foundation_and_overrides';
@import 'foundation/components/grid';

.home_col {
	margin-left: 0px;
	padding-left: 0px;
}

.home_h2 {
	font-size: 24px;
    font-weight: 600;
	margin-top: 15px;
}

.home_h3 {
	font-size: 18px;
    font-weight: 600;
	margin-top: 10px;
	margin-bottom: 5px;
}

.home_col img {
	border: 1px solid #DDD;
	padding: 3px;
}

#owl-demo .item img{
    display: block;
	margin-left: auto;
	margin-right: auto;
}


@media (min-width: 960px){


}


@media (min-width: 768px) and (max-width: 959px) {
	.row_div {
		padding-left: 15px;
		padding-right: 15px;	
	}
	
	.home_col {
		padding-right: 0px;
	}
}

@media (max-width: 767px) {
	.row_div {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.home_col {
		padding-right: 0px;
	}
}

@media (max-width: 480px) {
	.row_div {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.home_col {
		padding-right: 0px;
	}
}

/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}


/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}




/* NAVIGATION BAR */
.top-bar {
  background-color: rgb(1, 22, 64);
}
/* Left, NUS Computing */
.top-bar .name h1 a {
  font-size: 16pt;
  padding-right: 14pt;
}
/* Right button */
.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: rgb(1, 22, 64);
  padding: 0px 0.9375rem;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 10pt;
}
/* Corresponding hover */
.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: rgb(1, 11, 32);
}




/* Footer element */
footer {
  background-color: rgb(1, 22, 64);
  color: ghostwhite;
  font-size: 10pt;
  padding: 10pt;
  text-align: center;
}
/* Unordered list in foot class */
.foot ul {
  list-style-type: none;
}
/* List items in foot class */
.foot li {
  display: inline;
}
