<div class="row">

  <div class="large-12 columns">
    <h3 class="bold">Blog Posts</h3>
    <p>
      MC members can write blog posts that may be shown on the main website. This is a convenient platform to share
      information and announcements.
    </p>
    <p>
      However this feature is rudimentary at best and should not be used as an actual blogging platform. If you need a
      full-fledged blog for a specific topic, contact the IT Director and request for a Wordpress platform
    </p>
  </div>

  <hr>

  <div class="columns small-12 medium-9">
    <h3 class="bold">Active Post</h3>
    <div class="panel">
      <% if @articles.first %>
        <% @article = @articles.first %>
        <%= render 'article' %>
      <% end %>
    </div>
  </div>

  <div class="columns small-12 medium-3">
    <%= link_to new_mc_article_path, class: 'radius button success' do %>
      <%= fa_icon 'plus', text: 'New Post', right: true %>
    <% end %>
    <hr>
    <h5>All Posts:</h5>
    <ul>
      <% @articles.each do |article| %>
        <li><%= link_to article.title, mc_article_path(article) %></li>
      <% end %>
    </ul>
  </div>

</div>

