<div class="row">

  <div class="large-12 columns">
    <h3 class="bold">View Blog Post</h3>
  </div>

  <div class="large-12 columns">
    <div class="panel">
      <%= render 'mc/articles/article' %>
    </div>
  </div>

  <div class="large-12 columns">
    <ul class="button-group radius">
      <li><%= link_to 'Back', mc_articles_path, class: 'button small info' %></li>
      <li><%= link_to 'Edit', edit_mc_article_path, class: 'button small success' %></li>
      <li>
        <%= link_to 'Delete',
                    mc_article_path,
                    class: 'button small alert',
                    method: :delete,
                    data: { confirm: "Deleting \"#{@article.title}\". Are you sure?" }
        %>
      </li>
    </ul>
  </div>

</div>